<!DOCTYPE html>
<html>
  <head>
    <title>FlappyBird Multiplayer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
    <meta name="player_id" id="<%= session[:username] %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
